body,
html {
  /* background: #212121; */
  width: 100vw;
  height: 100%;
}

#root {
  /* background: #212121; */
  width: 100%;
  height: 100%;
}

a {
  /* color: #212121; */
  text-decoration: none;
}
